#include <windows.h>
#include <commctrl.h>

/* 指定资源文件使用 UTF-8 编码 (代码页 65001) */
#pragma code_page(65001)

/* Dialog IDs */
#define IDD_ASSET_EDIT           4001
#define IDD_CATEGORY_MANAGE      4002
#define IDD_EMPLOYEE_MANAGE      4003
#define IDD_CHANGELOG_VIEW       4004

/* Asset Edit Dialog Controls */
#define IDA_EDIT_CODE          3001
#define IDA_EDIT_NAME          3002
#define IDA_COMBO_CATEGORY     3003
#define IDA_EDIT_USER          3004
#define IDA_COMBO_DEPT         3005
#define IDA_EDIT_DATE          3006
#define IDA_EDIT_PRICE         3007
#define IDA_EDIT_LOCATION      3008
#define IDA_COMBO_STATUS       3009
#define IDA_EDIT_REMARK        3010

/* Category Manage Dialog Controls */
#define IDC_LIST_CATEGORIES     3101
#define IDC_EDIT_CATEGORY       3102
#define IDC_BTN_ADD             3103
#define IDC_BTN_EDIT            3104
#define IDC_BTN_DELETE          3105

/* Employee Manage Dialog Controls */
#define IDC_LIST_DEPARTMENTS   3200
#define IDC_LIST_EMPLOYEES     3201
#define IDE_EDIT_NAME          3202
#define IDE_COMBO_DEPT         3203
#define IDE_BTN_ADD            3208
#define IDE_BTN_EDIT           3209
#define IDE_BTN_DELETE         3210
#define IDE_EDIT_DEPT_NAME     3211
#define IDE_BTN_ADD_DEPT       3212
#define IDE_BTN_DEL_DEPT       3213
#define IDE_EDIT_SEARCH        3215

/* ChangeLog View Dialog Controls */
#define IDL_LIST_CHANGELOG     3300
#define IDL_EDIT_SEARCH        3301
#define IDL_BTN_SEARCH         3302
#define IDL_BTN_CLEAR          3303

/* Version info */
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "何锐"
            VALUE "FileDescription", "固定资产管理系统"
            VALUE "FileVersion", "2.0.0.0"
            VALUE "InternalName", "AssetManager"
            VALUE "LegalCopyright", "Copyright (C) 2024 何锐"
            VALUE "OriginalFilename", "AssetManager.exe"
            VALUE "ProductName", "固定资产管理系统"
            VALUE "ProductVersion", "2.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END

/* Asset Edit Dialog */
IDD_ASSET_EDIT DIALOGEX 0, 0, 360, 320
STYLE DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "资产编辑"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "资产编号*:", -1, 15, 15, 60, 12
    EDITTEXT        IDA_EDIT_CODE, 80, 12, 100, 14

    LTEXT           "资产名称*:", -1, 195, 15, 60, 12
    EDITTEXT        IDA_EDIT_NAME, 260, 12, 85, 14

    LTEXT           "分类:", -1, 15, 45, 60, 12
    COMBOBOX        IDA_COMBO_CATEGORY, 80, 42, 100, 200, CBS_DROPDOWNLIST | WS_VSCROLL

    LTEXT           "使用人:", -1, 195, 45, 60, 12
    EDITTEXT        IDA_EDIT_USER, 260, 42, 85, 14

    LTEXT           "部门:", -1, 15, 75, 60, 12
    COMBOBOX        IDA_COMBO_DEPT, 80, 72, 100, 200, CBS_DROPDOWNLIST | WS_VSCROLL

    LTEXT           "购入日期:", -1, 195, 75, 60, 12
    EDITTEXT        IDA_EDIT_DATE, 260, 72, 85, 14

    LTEXT           "金额:", -1, 15, 105, 60, 12
    EDITTEXT        IDA_EDIT_PRICE, 80, 102, 100, 14

    LTEXT           "存放位置:", -1, 195, 105, 60, 12
    EDITTEXT        IDA_EDIT_LOCATION, 260, 102, 85, 14

    LTEXT           "状态:", -1, 15, 135, 60, 12
    COMBOBOX        IDA_COMBO_STATUS, 80, 132, 100, 200, CBS_DROPDOWNLIST | WS_VSCROLL

    LTEXT           "备注:", -1, 15, 165, 60, 12
    EDITTEXT        IDA_EDIT_REMARK, 80, 162, 265, 60, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL

    DEFPUSHBUTTON   "确定", IDOK, 180, 280, 50, 14
    PUSHBUTTON      "取消", IDCANCEL, 240, 280, 50, 14
END

/* Category Manage Dialog */
IDD_CATEGORY_MANAGE DIALOGEX 0, 0, 320, 260
STYLE DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "分类管理"
FONT 9, "MS Shell Dlg"
BEGIN
    GROUPBOX        "分类列表", -1, 10, 10, 200, 180
    CONTROL         "", IDC_LIST_CATEGORIES, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL, 20, 25, 180, 155

    GROUPBOX        "编辑分类", -1, 220, 10, 90, 120
    LTEXT           "名称:", -1, 230, 35, 40, 12
    EDITTEXT        IDC_EDIT_CATEGORY, 230, 50, 70, 14

    PUSHBUTTON      "添加", IDC_BTN_ADD, 230, 75, 70, 16
    PUSHBUTTON      "编辑", IDC_BTN_EDIT, 230, 95, 70, 16
    PUSHBUTTON      "删除", IDC_BTN_DELETE, 230, 115, 70, 16

    PUSHBUTTON      "关闭", IDOK, 130, 200, 60, 16
END

/* Employee Manage Dialog */
IDD_EMPLOYEE_MANAGE DIALOGEX 0, 0, 520, 300
STYLE DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "人员管理"
FONT 9, "MS Shell Dlg"
BEGIN
    GROUPBOX        "部门列表", -1, 10, 10, 140, 240
    CONTROL         "", IDC_LIST_DEPARTMENTS, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL, 20, 25, 120, 155
    LTEXT           "部门名称:", -1, 20, 185, 50, 12
    EDITTEXT        IDE_EDIT_DEPT_NAME, 20, 200, 120, 14
    PUSHBUTTON      "添加部门", IDE_BTN_ADD_DEPT, 20, 220, 55, 16
    PUSHBUTTON      "删除部门", IDE_BTN_DEL_DEPT, 85, 220, 55, 16

    GROUPBOX        "员工列表", -1, 160, 10, 240, 240
    LTEXT           "搜索:", -1, 170, 25, 35, 12
    EDITTEXT        IDE_EDIT_SEARCH, 205, 22, 180, 14, ES_AUTOHSCROLL
    CONTROL         "", IDC_LIST_EMPLOYEES, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL, 170, 42, 220, 198

    GROUPBOX        "编辑员工", -1, 410, 10, 100, 140
    LTEXT           "姓名*:", -1, 420, 35, 40, 12
    EDITTEXT        IDE_EDIT_NAME, 420, 50, 80, 14

    LTEXT           "部门:", -1, 420, 75, 40, 12
    COMBOBOX        IDE_COMBO_DEPT, 420, 90, 80, 150, CBS_DROPDOWNLIST | WS_VSCROLL

    PUSHBUTTON      "添加", IDE_BTN_ADD, 420, 115, 35, 16
    PUSHBUTTON      "编辑", IDE_BTN_EDIT, 465, 115, 35, 16
    PUSHBUTTON      "删除", IDE_BTN_DELETE, 420, 135, 80, 16

    PUSHBUTTON      "关闭", IDOK, 230, 265, 60, 16
END

/* ChangeLog View Dialog */
IDD_CHANGELOG_VIEW DIALOGEX 0, 0, 500, 350
STYLE DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "变更日志"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "搜索:", -1, 10, 12, 30, 12
    EDITTEXT        IDL_EDIT_SEARCH, 45, 10, 200, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "搜索", IDL_BTN_SEARCH, 255, 10, 50, 14
    PUSHBUTTON      "清除", IDL_BTN_CLEAR, 310, 10, 50, 14

    CONTROL         "", IDL_LIST_CHANGELOG, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL, 10, 35, 480, 280

    DEFPUSHBUTTON   "关闭", IDOK, 220, 325, 60, 16
END
